# Token de autenticación de GitHub (obligatorio)
# Genera uno aquí: https://github.com/settings/tokens (solo necesita el scope 'public_repo' o ninguno si es búsqueda general)
GITHUB_TOKEN=your_github_token_here

# Configuración de Redis
REDIS_HOST=redis
REDIS_PORT=6379

# Lenguajes objetivo (separados por coma)
TARGET_LANGUAGES=Python,Java

# Configuración para el Visualizer
PORT=3000
